@using Sandbox.UI

@inherits PanelComponent

<root class="@(isActive ? "active" : "")" style="transform: scale(@scaleFactor)">
    <label>mic</label>
</root>

@code
{
    private float voiceLevel = 0.0f;
    private bool isActive = false;
    private float scaleFactor = 1.0f;

    protected override void OnUpdate()
    {
        var player = Player.FindLocalPlayer();
        if (!player.IsValid())
            return;

        var voice = player.GetComponentInChildren<Voice>();
        if (!voice.IsValid())
            return;

        voiceLevel = voiceLevel.LerpTo(voice.Volume, Time.Delta * 40.0f);
        isActive = voice.IsRecording;
        scaleFactor = 1.0f.LerpTo(1.2f, voiceLevel);

        StateHasChanged();
    }
}
