@using Sandbox.UI

@inherits Panel

<root style="left: @leftOffset">
    <img class="avatar" src="avatar:@Friend.Id" />
    <label class="name">@Friend.Name</label>
</root>

@code
{
    public Friend Friend { get; set; }
    public float Level { get; set; }
    public float TimeSincePlayed { get; set; }

    private float voiceLevel = 0.0f;
    private string leftOffset = "0px";

    public override void Tick()
    {
        base.Tick();

        if (IsDeleting)
            return;

        var speakTimeout = 2.0f;
        var timeoutInv = 1 - (TimeSincePlayed / speakTimeout);
        timeoutInv = MathF.Min(timeoutInv * 2.0f, 1.0f);

        if (timeoutInv <= 0)
        {
            Delete();
            return;
        }

        voiceLevel = voiceLevel.LerpTo(Level, Time.Delta * 40.0f);
        var leftValue = voiceLevel * -32.0f * timeoutInv;
        leftOffset = $"{leftValue}px";

        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        // Ensure we have valid data when parameters change
        if (Friend.Id != null)
        {
            StateHasChanged();
        }
    }
}
