@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Mounting;
@inherits Panel

@if ( mount is null )
{
    <root>
        Error getting mount.
    </root>
    return;
}

<root>

    <div class="header">
        <div>@mount.Title</div>
    </div>

    <div class="body">

        @foreach (var r in mount.Resources)
        {
            if ( r.Type != ResourceType.Model ) continue;

            <SpawnIcon Path="@r.Path" @onclick=@( () => Spawn( r.Path ) )></SpawnIcon>
        }

    </div>

</root>

@code
{
    public string Ident { get; set; }

    BaseGameMount mount;
    
    protected override async Task OnParametersSetAsync()
    {
        mount = await Sandbox.Mounting.Directory.Mount(Ident);
    }

    void Spawn(string ident)
    {
        Log.Info($"Spawning {ident}");

        GameManager.Spawn(ident);
    }

}
