@using Sandbox.UI

@inherits PanelComponent

<root>
    <label class="notice-icon">⚠️</label>
    <div class="notice-text">
        <label class="notice-title">STAGING BUILD</label>
        <label class="notice-message">
            This game is unfinished and will experience breaking changes and missing features.

            Report an issue: https://github.com/Softsplit/sandbox-classic/issues
            Join our Discord server: https://discord.gg/rbCJdZjewf
        </label>
    </div>
</root>

@code
{
}
