SpawnMenuHost
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #cdf;
	justify-content: center;
}

SpawnMenuHost
{
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s linear;
	backdrop-filter: brightness( 0.6 ) contrast( 0.75 ) saturate( 0.75 );

	.container .spawnmenuleft
	{
		transform: translateX( -100px );
		transition: all 0.2s ease-in;
	}

	.container .spawnmenuright
	{
		transform: translateX( 100px );
		transition: all 0.2s ease-in;
	}
}

SpawnMenuHost.open
{
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.1s linear;

	.container .spawnmenuleft
	{
		transform: translateX( 0px );
		transition: all 0.1s ease-out;
	}

	.container .spawnmenuright
	{
		transform: translateX( 0px );
		transition: all 0.1s ease-out;
	}
}

.container
{
	width: 100%;
	height: 100%;
	max-width: 1900px;
}

.container .spawnmenuleft
{
	flex-grow: 1;
	padding: 128px 64px;
	padding-right: 16px;

	PanelSwitcher
	{
		padding-bottom: 128px;
	}
}

.container .spawnmenuright
{
	width: 600px;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 128px 64px;
	padding-left: 16px;
}

.container > .spawnmenuleft,
.container > .spawnmenuright
{
	flex-direction: column;
}


.container > .spawnmenuleft > .body,
.container > .spawnmenuright > .body
{
	border-radius: 8px;
	flex-grow: 1;
}

.tabs
{
	font-size: 14px;
	color: white;
	font-weight: 650;
	font-family: Poppins;
	margin-left: 8px;
	z-index: 10;
	flex-shrink: 0;
}

.tabs > *
{
	padding: 0.5rem 2rem;
	cursor: pointer;
	color: #D1D7E3AA;
	border-radius: 8px 8px 0 0;
	background-color: #464C4FAE;
	opacity: 1;
}

.tabs > *:hover
{
	color: #cdf;
	sound-in: ui.button.over;
}

.tabs > *:active
{
	color: #fff;
	sound-in: ui.button.press;
}

.tabs > *.active
{
	opacity: 1;
	color: #fff;
	cursor: pointer;
	background-color: #031B2CA6;
	pointer-events: none;
	backdrop-filter: blur( 8px );
}


.container > .spawnmenuleft > .body
{
	position: relative;
}


.container > .spawnmenuleft > .body > *
{
	position: absolute;
	height: 100%;
	width: 100%;
}

.container > .spawnmenuleft > .body > .hidden
{
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s linear;
	transform: translateY( 20px );
}

.container > .spawnmenuleft > .body > .active
{
	opacity: 1;
	transition: all 0.1s linear;
	transform: translateY( 0px );
}

.container > .spawnmenuleft,
.container > .spawnmenuright
{
	> .body
	{
		background-color: #031B2CA6;
		backdrop-filter: blur( 8px );
	}
}


.menuinner
{
	background-color: #282E3488;
	border-radius: 8px;
}
