Voices
{
    position: absolute;
    right: 128px;
    bottom: 256px;
    padding: 16px;
    gap: 8px;
    flex-direction: column;
    border-radius: 2px;

    .item-row
    {
        gap: 8px;
        align-items: center;
        padding: 12px 24px;
        justify-content: flex-end;
    }

    img
    {
        width: 28px;
        height: 28px;
        border-radius: 100px;
        margin-left: 32px;
    }

    label
    {
        font-family: Poppins;
        color: #f806;
        font-size: 16px;
        text-shadow: 0px 0px 10px #f50;
    }
}
