@using Sandbox.UI

@inherits Panel

<root class="button-group">
	<button Active="@(Value == "popular")" tooltip="Popular" class="button" @onclick=@(() => Value = "popular")><i>show_chart</i></button>
	<button Active="@(Value == "newest")" tooltip="Newest" class="button" @onclick=@(() => Value = "newest")><i>new_releases</i></button>
	<button Active="@(Value == "updated")" tooltip="Updated" class="button" @onclick=@(() => Value = "updated")><i>update</i></button>
	<button Active="@(Value == "favourites")" tooltip="Most Favourites" class="button" @onclick=@(() => Value = "favourites")><i>thumb_up</i></button>
</root>

@code
{
	public string Value { get; set; }
}
