@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root>
    @if ( Left != null )
    {
        <div class="left">@Left</div>
    }

    <div class="body menuinner">@Body</div>
</root>

@code
{

    public RenderFragment Left { get; set; }
    public RenderFragment Body { get; set; }

}
