@using Sandbox.UI

@inherits Panel

<root class="inventory-icon">
	<label class="item-name">@(TargetCarriable?.DisplayName ?? "empty")</label>
	<label class="slot-number">@SlotNumber</label>
</root>

@code
{
	[Property] public BaseCarriable TargetCarriable { get; set; }
	[Property] public int SlotNumber { get; set; }

	public void Clear()
	{
		TargetCarriable = null;
		SetClass( "active", false );
		StateHasChanged();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( 
			TargetCarriable?.GetHashCode() ?? 0, 
			SlotNumber,
			HasClass( "active" )
		);
	}
}
