@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root>
    <div class="icon" @ref="IconPanel"></div>
    <label>@Weapon.DisplayName</label>
</root>

@code
{
    public BaseCarryable Weapon { get; set; }
    public bool IsActive { get; set; }
    public bool IsHovered { get; set; }
    public bool CanSwitch { get; set; }

    Panel IconPanel { get; set; }

    public void ApplyIcon()
    {
        IconPanel.Style.SetBackgroundImage( Weapon.DisplayIcon );
    }

    public override void Tick()
    {
        if ( !Weapon.IsValid() ) return;

        SetClass( "active", IsHovered );
        SetClass( "selected", IsActive);
        SetClass( "switchable", CanSwitch );

        ApplyIcon();
    }

}
